.navbar {
  background: #aeaeae;
  border-bottom: none;
  padding: 30px 0;
  transition-duration: 0.6s;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #183532;
}

.navbar-scroll {
  background: #ffffff;
  padding: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}
.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.About {
  margin-top: 50px;
}
.flex-container {
  display: flex;
}

.About img {
  transform: rotate(-90deg);
}
